# Ignore everything
*

# But not these files...
# SOHR input files
!input
input/*
!input/cmd.cfg

!input/setting.json
!input/spe_alias.json
!input/spe_alias_latex.json

!input/mmc2.txt

!input/chem.inp
!input/therm.dat
!input/chem.out
!input/chem.bin
!input/chem.cti
!input/chem.xml

!input/uncertainties.inp

!input/atom_scheme.json
!input/atom_scheme_note.txt

!input/fast_transition.json

!input/local_settings.py

!input/spe_composition.json
!input/species_information.json
!input/reaction_information.json
!input/species_labelling.csv
!input/reaction_labelling.csv


# SOHR output files
!output
output/*
!output/time_dlsode_M.csv
!output/temperature_dlsode_M.csv
!output/pressure_dlsode_M.csv
!output/concentration_dlsode_M.csv
!output/drc_dlsode_M.csv
# split into two files, merge manually
!output/reaction_rate_dlsode_M_1.csv
!output/reaction_rate_dlsode_M_2.csv

# etc...

